.head {
    text-align: center;
    text-transform: uppercase;
}

/*p {
    text-transform: none;
}
*/
hr {
    background-color: yellow;
    width: 60px;
    height: 3px;
    border: none;
}
.header {
    display: inline-block;
}

.text-block {
    display: inline-block;
   width: 30%;
    /*text-align: justify;*/

}

/*.text-block2 {
    display: inline-block;
    width: 30%;
}*/

.photo {
    display: inline-block;
}
